//Landing
.landing-page-background-text{
  vertical-align: middle;
  float: left;
  margin-left: 15%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.landing-page-steps-heading{
  text-align:center;
}

//BackgroundCarousel
.landing-page-background-carousel{
  width: 100%;
}
.landing-page-carousel-image{
  width: 50%;
  vertical-align: middle;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

//StepBox
    //SignupBlock
.landing-page-signup-block{
  background-color: #a4b7c1;
  height: auto;
  vertical-align: middle;
}
.landing-page-signup-block-image{
  position: inherit;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.landing-page-signup-block-text{
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
    //SelectTutorBlock
.landing-page-tutor-block{
  background-color: #b9bbbf;
  height: auto;
  vertical-align: middle;
}
.landing-page-tutor-block-image{
  position: inherit;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.landing-page-tutor-block-text{
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
    //ScheduleClassBlock
.landing-page-schedule-class-block{
  background-color: #869fac;
  height: auto;
  vertical-align: middle;
}
.landing-page-schedule-class-block-image{
  position: inherit;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.landing-page-schedule-class-block-text{
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.navbartop{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navbartoplist{
  font-size: 16px;
}

.navbarlandingbranding{
  font-color: #00aced;
  font-size: 25px;
  font-weight: bold;
}

.landing-page-stepsblock{
  bottom:2px;
}